Support all string formats supported by JSONSchema for path_formats

JSONSchema has support for a variety of [format-strings](https://json-schema.org/understanding-json-schema/reference/string.html#format). `gdt.http` should support all of the JSONSchema Draft 6 ones in the `response.json.path_formats` field:

* "date-time": Date and time together, for example, 2018-11-13T20:20:39+00:00.
* "email": Internet email address, see RFC 5322, section 3.4.1.
* "hostname": Internet host name, see RFC 1034, section 3.1.
* "ipv4": IPv4 address, according to dotted-quad ABNF syntax as defined in RFC 2673, section 3.2.
* "ipv6": IPv6 address, as defined in RFC 2373, section 2.2.
* "uri": A universal resource identifier (URI), according to RFC3986.
* "uri-reference": New in draft 6 A URI Reference (either a URI or a relative-reference), according to RFC3986, section 4.1.
